<h1>Cart</h1>

<hr>

{% if not cart.items.count %}

    <p>Yur cart is empty.</p>

{% else %}

    <table width="100%" border="1">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th></th>
        </tr>
        {% for item in cart.items.all %}
        <tr>
            <td><a href="{% url 'product' item.product.id %}">{{ item.product.name }}</a></td>
            <td>{{ item.product.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{% widthratio item.product.price 1 item.quantity %}</td>
            <td>
                <form method="post" action="{% url 'cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="remove_item">
                    <input type="hidden" name="item_id" value="{{ item.id }}">
                    <button type="submit">remove</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">empty</td>
        </tr>
        {% endfor %}
    </table>

    <p style="text-align: right">
        <a href="{% url 'place_order' %}">Place Order</a>
    </p>

{% endif %}
