{% extends 'bootstrap5/bootstrap5.html' %}

{% load bootstrap5 %}
{% load mptt_tags %}

{% block bootstrap5_title %}Shop &gt; {{ object.name }}{% endblock %}

{% block bootstrap5_content %}
{% include 'navbar.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="background:rgb(248, 249, 250)">
            <h3>{{ object.name }}</h3>
            <ul class="nav flex-column">
                {% recursetree categories %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'category' node.id %}">{{ node.name }}</a>

                    {% if not node.is_leaf_node %}
                    <ul class="nav flex-column">
                        {{ children }}
                    </ul>
                    {% endif %}
                </li>
                {% endrecursetree %}
            </ul>
        </div>
        <div class="col">
            <h3>Products</h3>
            <div class="row">
                {% for product in products %}
                <div class="col-3">
                    <div class="card">
                        <h5 class="card-header"><a href="{% url 'product' product.id %}">{{ product.name }}</a></h5>
                        <div class="card-body">
                            <p class="card-text">{{ product.description }}</p>
                        </div>
                        <div class="card-footer text-muted">Price: {{ product.price }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
