{% extends 'bootstrap5/bootstrap5.html' %}

{% load bootstrap5 %}
{% load mptt_tags %}

{% block bootstrap5_title %}Shop &gt; {{ object.name }}{% endblock %}

{% block bootstrap5_content %}
{% include 'navbar.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>{{ object.name }}</h3>
            <b>Price: {{ object.price }}</b>
            <p>{{ object.description }}</p>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col text-end">
                <form method="post" action="{% url 'product' object.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Add to cart</button>
                </form>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}