{% extends 'bootstrap5/bootstrap5.html' %}

{% load bootstrap5 %}
{% load mptt_tags %}

{% block bootstrap5_title %}Shop &gt; Your Orders{% endblock %}

{% block bootstrap5_content %}
{% include 'navbar.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Your Orders</h2>

            {% if not orders.count %}

                <div class="alert alert-info">No orders yet</div>

            {% else %}
                {% for order in orders %}
                    <div class="card">
                        <div class="card-header">
                            <b>Order #{{ order.id }}</b>
                            <span class="badge bg-secondary">Status: {{ order.status }}</span>
                        </div>
                        <table class="table card-body">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order.items.all %}
                                    <tr>
                                        <td>{{ item.product.name }}</td>
                                        <td>{{ item.price }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{% widthratio item.price 1 item.quantity %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="card-footer text-muted text-end">
                            <b>Order Total:</b> {{ order.order_total }}
                        </div>
                    </div>
                    <br><br>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}